ESDT_SYSTEM_SC_ADDRESS=erd1qqqqqqqqqqqqqqqpqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqzllls8a5w6u

#============CHAIN==============

PROXY=https://devnet-gateway.multiversx.com
CHAIN_ID=D

#============OWNER==============

ALICE="./wallets/erd1ln9n2sl7vkzaf7yur02jz505g9rdw80zp2r7gv4ylmmnx72rpqqqp79mju.pem"
ALICE_ADDRESS=erd1ln9n2sl7vkzaf7yur02jz505g9rdw80zp2r7gv4ylmmnx72rpqqqp79mju

MXPY_SIGN=()
#use this for signing transactions with a pem file
MXPY_SIGN+=(--pem=${ALICE})
#use this to sign with ledger
#MXPY_SIGN+=(--ledger)

#============WASM FILES==============

AGGREGATOR_WASM="./multiversx-price-aggregator-sc.wasm"
SAFE_WASM="./esdt-safe.wasm"
BRIDGED_TOKENS_WRAPPER_WASM="./bridged-tokens-wrapper.wasm"
MULTI_TRANSFER_WASM="./multi-transfer-esdt.wasm"
MULTISIG_WASM="./multisig.wasm"
PROXY_WASM="./bridge-proxy.wasm"
FAUCET_WASM="./faucet.wasm"
TEST_CALLER_WASM="./test-caller.wasm"

#============CONTRACT ADDRESSES==============

AGGREGATOR=
SAFE=
BRIDGED_TOKENS_WRAPPER=erd1qqqqqqqqqqqqqpgqy30jgdm5emj607fhq5leluxmfxnd2guzpqqq4f67g0
MULTI_TRANSFER=
MULTISIG=
BRIDGE_PROXY=
FAUCET=erd1qqqqqqqqqqqqqpgqhhlx9mpdc92l0psszy3cf9lxhg9vzhs8zlsqjeeqqn
TEST_CALLER=erd1qqqqqqqqqqqqqpgq398fy44g59se3pkmjz8tya39pz5q4tuvpqqqgwffes

#============v2 CONTRACT ADDRESSES==============
MULTISIG_v2=erd1qqqqqqqqqqqqqpgqu5asufdaxnzxhxgjheuee2mzm28y205rzcqq25xvky
AGGREGATOR_v2=erd1qqqqqqqqqqqqqpgqxgpczmmcjr64ladk2hz05gm6j73usrugzcqqmhhzd0
BRIDGED_TOKENS_WRAPPER_v2=erd1qqqqqqqqqqqqqpgqgvx0y4c9ael8ha29cvn0c3r6ay5c9heezcqq2nejur

#============TOKENS SETTINGS==============
NR_DECIMALS_CHAIN_SPECIFIC=6
NR_DECIMALS_UNIVERSAL=18

UNIVERSAL_TOKEN_TICKER=
UNIVERSAL_TOKEN_DISPLAY_NAME=

CHAIN_SPECIFIC_TOKEN_TICKER=BTN
CHAIN_SPECIFIC_TOKEN_DISPLAY_NAME=BTN
UNIVERSAL_TOKENS_ALREADY_MINTED=0 # do not add the decimals on this value

#============TOKENS TO BE WHITELISTED==============
UNIVERSAL_TOKEN=
CHAIN_SPECIFIC_TOKEN=BTN-2deb95
#   BTN-2deb95
# LKBTN-98c30d
ERC20_TOKEN=0x8b953401ba778b4fccb80d92f46ae8d78ff7fd8bb54e99747743464ec248d5b5::bridge_token::BRIDGE_TOKEN
# 0x49934c5c0866e0b62db2f43296994f28d09505f48005032d4285a5da53f35e2a::xmn::XMN
# 0xf870f620b15209fba1c37f77b41891a3a595870a4639df193c4e9bd6740c7a01::bridge_token::BRIDGE_TOKEN
ERC20_TOKEN_HEX=0x0000005e3078663837306636323062313532303966626131633337663737623431383931613361353935383730613436333964663139336334653962643637343063376130313a3a6272696467655f746f6b656e3a3a4252494447455f544f4b454e
# 0x0000004c3078343939333463356330383636653062363264623266343332393639393466323864303935303566343830303530333264343238356135646135336633356532613a3a786d6e3a3a584d4e #xmn
# 0x000000503078343634313231306439626638393435303936636338626361353936383566313932663462633436373261326163343030626265373639383335393065363864333a3a6c6b786d6e3a3a4c4b584d4e #lkxmn
# 0x0000005e3078663837306636323062313532303966626131633337663737623431383931613361353935383730613436333964663139336334653962643637343063376130313a3a6272696467655f746f6b656e3a3a4252494447455f544f4b454e #bridge token 
MINTBURN_WHITELIST=true
NATIVE_TOKEN=false

TOTAL_BALANCE=0
MINT_BALANCE=0
BURN_BALANCE=0
#============BRIDGE SETTINGS==============

FEE_AMOUNT=0
MAX_AMOUNT=50000

RELAYER_REQUIRED_STAKE=1000 #1000eGLD
SLASH_AMOUNT=0
QUORUM=3
ORACLE_REQUIRED_STAKE=1 #1EGLD

MAX_TX_PER_BATCH=10
MAX_TX_BLOCK_DURATION_PER_BATCH=100 #10minutes

ETH_MAX_AMOUNT=1000000000000

#============RELAYERS ADDRESSES==============
RELAYER_ADDR_0=erd1l9hpewk3dd6mz5j0yytjnzqtydukslmsms2d0fn0pg8pc42chqgqk8pm5u
RELAYER_ADDR_1=erd1tfj6fpr5hd5fw8h6efycw42mk3c4wynausntvg6x98kcyn5npkkqmq7t9g
RELAYER_ADDR_2=erd1uae36y2qvrslexcv3mwjqy9lwrlspvkdyjsar2xcj5ctrq7th26q8twvyc
RELAYER_ADDR_3=erd1689ky73s93aptw8ek0wrrzujtus365ygrqgj0hgj4cn09n5k3kuqyhr0j7
RELAYER_ADDR_4=erd1pkwhtl85ze02ckaf0t6qgycgx863kxyefxyqxumcth0nwtu3a9yqzg2yn2
RELAYER_ADDR_5=erd197rmyux8ttzuwssh9thsewlzsc766tvpnussqkpew5vm9x63k0kqw56hr7
RELAYER_ADDR_6=erd1yhqfhsf237uyz4uzzg0duy9hhg8t3j4wtt020c5cy59w2v2jvkgq6nxf0c
RELAYER_ADDR_7=erd1pgvt06tyhlwegkdkzknyhcxfl3wz69wseqeqashm3d83mxjaewzqnug90w
RELAYER_ADDR_8=erd1ujfl0yxff6ey008ef89au4dn486dj549kpjuuu4xxtn9q550x3gqcu6wed
RELAYER_ADDR_9=erd1zsha9cvx7gwraytgp740dcjzwy9v5xwnmas77d33uve6sk0rs0vqel4ln5

RELAYER_WALLET0="./walletsRelay/${RELAYER_ADDR_0}.pem"
RELAYER_WALLET1="./walletsRelay/${RELAYER_ADDR_1}.pem"
RELAYER_WALLET2="./walletsRelay/${RELAYER_ADDR_2}.pem"
RELAYER_WALLET3="./walletsRelay/${RELAYER_ADDR_3}.pem"
RELAYER_WALLET4="./walletsRelay/${RELAYER_ADDR_4}.pem"
RELAYER_WALLET5="./walletsRelay/${RELAYER_ADDR_5}.pem"
RELAYER_WALLET6="./walletsRelay/${RELAYER_ADDR_6}.pem"
RELAYER_WALLET7="./walletsRelay/${RELAYER_ADDR_7}.pem"
RELAYER_WALLET8="./walletsRelay/${RELAYER_ADDR_8}.pem"
RELAYER_WALLET9="./walletsRelay/${RELAYER_ADDR_9}.pem"

#============ORACLE ADDRESSES==============
ORACLE_ADDR_0=erd1frvuxasug6xtgqamcy8rfkw6xsmque95qrglshlzsaxa0mhzycqqlu9axf
ORACLE_ADDR_1=erd1p2pk9rz9hwyfa0wtuvt5lfqs7kz2kmrqc4634vxe08csz5733yqqlm50ut
ORACLE_ADDR_2=erd1vsu0095rnf6r355c22luepk0xzx709uule77gq4w5z4fyuwmzvqqz2v9wt

ORACLE_WALLET0="./walletsOracle/${ORACLE_ADDR_0}.pem"
ORACLE_WALLET1="./walletsOracle/${ORACLE_ADDR_1}.pem"
ORACLE_WALLET2="./walletsOracle/${ORACLE_ADDR_2}.pem"
