name: CI

on:
  push:
      branches:
        - main
  pull_request:
        branches: [ main ]

permissions:
  checks: write
  pull-requests: write

jobs:
  contracts:
    name: Contracts
    uses: multiversx/mx-sc-actions/.github/workflows/contracts.yml@v2.3.0
    with:
      rust-toolchain: nightly-2023-05-09
      vmtools-version: v1.4.60
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
